/* Фоновый цвет и общие стили */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  background-color: #cb81ff;
  border-radius: 24px;
  padding: 8px 16px;
  color: black;
  font-family: Arial, sans-serif;
}

/* Левая секция (иконка и имя файла) */
.filenameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fileIcon {
  width: 30px;
}

.happyIcon {
  width: 26px;
}

.setIcon {
  width: 30px;
}

.successBlock {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.errorBlock {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.success {
  color: black;
}

.error {
  color: #8f64ae;
}
