.error {
  color: red;
  margin-top: 10px;
}

.description {
  text-align: center;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.massegeContainer {
  text-align: center;
}
