/* Базовые стили */

/* Текстовое описание */
.description {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.dropHint {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

/* Область для загрузки файла */
.dropZone {
  width: 100%;
  height: 150px;
  background-color: #d4fae6; /* Светло-розовый фон */
  border: 2px dashed #bdbdbd; /* Пунктирная граница */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.dropZoneInside {
  display: flex;
  flex-direction: column;
}

.uploadButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadButton:hover {
  background-color: #f5f5f5;
}

.submitButtonContainer {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Кнопка отправки */
.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bdbdbd; /* Серый фон */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButtonError {
  background-color: #ff5f00;
}

.submitButton:hover {
  background-color: #a6a6a6;
}

.clearButton {
  width: 40px;
}

/* Подсказка */
.hint {
  text-align: center;
  margin-top: 50px;
}

.hint p {
  font-size: 16px;
  color: #999;
}

/* Сетка для карточек */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.buttonReset {
  background: none; /* Убираем фон */
  border: none; /* Убираем рамку */
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем внешние отступы */
  font: inherit; /* Наследуем шрифт родителя */
  color: inherit; /* Наследуем цвет текста */
  cursor: pointer; /* Оставляем курсор как указатель */
  outline: none; /* Убираем фокус-обводку (опционально) */
}
